services:
  postgres:
    build:
      context: docker/
      dockerfile: Dockerfile
    env_file:
      - .env
    container_name: postgres-commerx
    image: postgres:18.1
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"